<ion-menu [content]="content" persistent="true" side='right'>
  <ion-header></ion-header>
  <ion-content class="menu-content" *ngIf="user | async as user">
    <div class="menu-header">
      <div class="menu-header-img-container">
          <img class="menu-header-background" src="./assets/imgs/tools.jpg" />
      </div>
      <div class="card-alpha"></div>
      <div class="profile-usertitle">
        <div class="profile-usertitle-name">
          {{user.displayName}}
        </div>
        <div class="profile-usertitle-job">
          {{user.cargo}}
        </div>
      </div>
      <!-- END SIDEBAR USER TITLE -->

      <!-- SIDEBAR BUTTONS -->
      <div class="profile-userbuttons">
        <button menuToggle ion-button class="btn btn-success btn-sm" (click)="editPerfil()">Perfil</button>
      </div>
      <!-- END SIDEBAR BUTTONS -->

    </div>
    <!-- SIDEBAR MENU -->
    <div class="profile-usermenu">
      <ion-list>
        <button no-lines menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
          <ion-icon class="icon-menu" [name]="p.icon" item-start></ion-icon>
          {{p.title}}
        </button>
        <button *ngIf="user.rol<=2" no-lines menuClose ion-item (click)="addMaterial()">
          <fa-icon class="icon-menu" name="wrench" item-start></fa-icon>
          Añadir Material
        </button>
        <button *ngIf="user.rol<=2" no-lines menuClose ion-item (click)="editCategories()">
          <fa-icon class="icon-menu" name="box" item-start></fa-icon>
          Editar Categorias
        </button>
        <button *ngIf="user.rol==1" no-lines menuClose ion-item (click)="editUsers()">
          <fa-icon class="icon-menu" name="user" item-start></fa-icon>
          Editar Usuarios
        </button>
        <button no-lines menuClose ion-item (click)="logOut()">
          <ion-icon class="icon-menu" name="log-out" item-start></ion-icon>
          Salir
        </button>
      </ion-list>
    </div>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>